# Binaries for programs and plugins
shawell

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore project files
*.sublime-workspace
*.sublime-project

# ignore binaries
bin/

# Dependency directories (remove the comment below to include it)
# vendor/
